[package]
name = "phf_generator"
authors = ["Steven Fackler <sfackler@gmail.com>"]
version = "0.7.22"
license = "MIT"
description = "PHF generation logic"
repository = "https://github.com/sfackler/rust-phf"
documentation = "https://docs.rs/phf_generator/0.7.22/phf_generator"

[dependencies]
rand = "0.5"
phf_shared = { version = "=0.7.22", path = "../phf_shared" }
