name: Bench
on:
  pull_request:
    types: [labeled]

permissions:
  deployments: write
  contents: write

jobs:
  bench_between_main_and_pr:
    if: ${{ github.event.label.name == 'run-benchmarks' }}
    name: Bench
    runs-on: ubuntu-latest
    steps:
      - name: Setup nightly toolchain
        run: |
          rustup set profile minimal
          rustup override set nightly
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Run benchmark on PR
        run: cargo bench | tee output.txt
      - name: Store benchmark result
        uses: benchmark-action/github-action-benchmark@4bdcce38c94cec68da58d012ac24b7b1155efe8b # v1.20.7
        with:
          tool: 'cargo'
          output-file-path: output.txt
          github-token: ${{ secrets.GITHUB_TOKEN }}
          auto-push: true
          comment-always: true
          comment-on-alert: true
          alert-threshold: '150%'
          fail-on-alert: true
