name: CI

on:
  push:
    branches: [main]
  pull_request:

jobs:
  ci:
    name: CI
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        # MSRV and nightly
        version: [1.68.0, stable, nightly]
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Set toolchain
        run: |
          rustup set profile minimal
          rustup override set ${{ matrix.version }}

      - uses: Swatinem/rust-cache@9d47c6ad4b02e050fd481d890b2ea34778fd09d6 # v2.7.8

      - name: Rustfmt check
        if: matrix.version == '1.68.0'
        run: |
          rustup component add rustfmt
          cargo fmt --all -- --check

      - name: Run `cargo test` on workspace
        if: matrix.version != '1.68.0'
        run: cargo test --workspace --exclude=phf_codegen_test

      - name: phf_codegen test
        if: matrix.version != '1.68.0'
        run: cargo test -p phf_codegen_test

      - name: trybuild test
        if: matrix.version == 'stable'
        run: cargo test -p phf_macros_test -- --ignored

      - name: no_std build check
        working-directory: phf
        run: cargo build --no-default-features

      - name: all features check
        run: cargo check --workspace --all-features

      - name: unicase + macros features check
        run: cargo check -p unicase-example

      - name: deny check
        if: matrix.version == 'stable'
        uses: EmbarkStudios/cargo-deny-action@3fd3802e88374d3fe9159b834c7714ec57d6c979 # v2.0.15
